<?xml version="1.0"?>

<launch>

  <!-- UR10 settings -->
  <arg name="CONFIG_FILE_PATH" default="$(find tum_ics_ur10_controller_tutorial)/launch/configs/configUR10.ini"/>
  <arg name="startup_delay" default="5.0"/>
  <arg name="show_markers" default="true"/>
  <arg name="marker_frame" default="ursa_base_link"/>
  <arg name="marker_use_mesh" default="true"/>
  <arg name="marker_mesh_scale" default="0.001"/>
  <arg name="marker_peg_mesh" default="package://tum_ics_ur10_simulation_objects/models/peg/meshes/object_cylinder.stl"/>
  <arg name="marker_hole_mesh" default="package://tum_ics_ur10_simulation_objects/models/hole/meshes/base_slot_cylinder.stl"/>
  <arg name="marker_peg_mesh_rpy_deg" default="[0.0, 0.0, 0.0]"/>
  <arg name="marker_hole_mesh_rpy_deg" default="[0.0, 0.0, 0.0]"/>
  <arg name="marker_peg_mesh_z_offset" default="-0.02"/>
  <arg name="marker_hole_mesh_z_offset" default="-0.05"/>
  <arg name="marker_show_target" default="true"/>
  <arg name="marker_target_diameter" default="0.015"/>
  <arg name="publish_base_link_tf" default="true"/>
  <arg name="base_link_frame" default="base_link"/>
  <arg name="robot_base_frame" default="ursa_base_link"/>

  <!-- The peg-in-hole FSM controller -->
  <node name="peg_in_hole_fsm" pkg="tum_ics_ur10_controller_tutorial" type="peg_in_hole_fsm_node" args="$(arg CONFIG_FILE_PATH)" output="screen">
    <param name="startup_delay" value="$(arg startup_delay)"/>
    <!-- avoid /joint_states collision with bringup -->
    <remap from="/joint_states" to="/ursa_joint_states"/>

    <!-- Robot PID gains (must be in private namespace: ~pid_int) -->
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/robot_pid_array.yaml" command="load" />

    <!-- FSM configuration -->
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/peg_in_hole_fsm.yaml" command="load" />

    <!-- Sub-controller configurations -->
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/controllers/joint_pd.yaml" command="load" />
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/controllers/cartesian_pdg.yaml" command="load" />
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/controllers/hybrid_insertion.yaml" command="load" />

    <!-- Gripper configuration -->
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/gripper.yaml" command="load" />

    <!-- Sensor configuration -->
    <rosparam file="$(find tum_ics_ur10_controller_tutorial)/config/sensors.yaml" command="load" />

  </node>

  <!-- Ensure base_link exists in TF (alias to URSA base) -->
  <node if="$(arg publish_base_link_tf)" pkg="tf2_ros" type="static_transform_publisher"
        name="base_link_alias" args="0 0 0 0 0 0 $(arg robot_base_frame) $(arg base_link_frame)"/>

  <!-- RViz visualization helpers -->
  <include file="$(find tum_ics_ur10_controller_tutorial)/launch/peg_hole_markers.launch" if="$(arg show_markers)">
    <arg name="frame_id" value="$(arg marker_frame)"/>
    <arg name="use_mesh" value="$(arg marker_use_mesh)"/>
    <arg name="mesh_scale" value="$(arg marker_mesh_scale)"/>
    <arg name="peg_mesh" value="$(arg marker_peg_mesh)"/>
    <arg name="hole_mesh" value="$(arg marker_hole_mesh)"/>
    <arg name="peg_mesh_rpy_deg" value="$(arg marker_peg_mesh_rpy_deg)"/>
    <arg name="hole_mesh_rpy_deg" value="$(arg marker_hole_mesh_rpy_deg)"/>
    <arg name="peg_mesh_z_offset" value="$(arg marker_peg_mesh_z_offset)"/>
    <arg name="hole_mesh_z_offset" value="$(arg marker_hole_mesh_z_offset)"/>
    <arg name="show_target" value="$(arg marker_show_target)"/>
    <arg name="target_diameter" value="$(arg marker_target_diameter)"/>
  </include>

</launch>
